
// Same with Andrej Karpathy's blog

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


// .post pre, .post code {
//     border: 1px solid #d5d5e9;
//     background-color: #eef;
//     padding: 8px 12px;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     border-radius: 3px;
//     font-size: 15px;
//     overflow: auto;
// }

p code {
    border: 1px solid #d5d5e9;
    background-color: #eef;
    padding: 1px 5px;
    font-size: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: auto;
}
.highlight {
    background-color: #eef;
    border: 1px solid #d5d5e9;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    overflow: auto;
}

code {
    font-family: monospace;
}

// .highlight {
//   background-color: #3f3f3f; // #efefef;
//   padding: 18px 7px 18px 10px; // 7px 7px 7px 10px;
//   border: 1px solid #ddd;
//   // -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
//   // -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
//   // box-shadow: 3px 3px rgba(0,0,0,0.1);
//   margin: 20px 0 20px 0;
//   overflow: scroll;
//   font-size: 14px;
//   border-radius: 15px;
// }

// code {
//   font-family:'Bitstream Vera Sans Mono','Courier', monospace;
// }
//
// // This is Zenburn from https://github.com/jwarby/jekyll-pygments-themes/blob/master/zenburn.css
//
// .highlight code, .highlight pre {
// color:#fdce93;
// background-color:#3f3f3f;
// }
//
// .highlight .hll {
// background-color:#222;
// }
//
// .highlight .err {
// color:#e37170;
// background-color:#3d3535;
// }
//
// .highlight .k {
// color:#f0dfaf;
// }
//
// .highlight .p {
// color:#41706f;
// }
//
// .highlight .cs {
// color:#cd0000;
// font-weight:700;
// }
//
// .highlight .gd {
// color:#cd0000;
// }
//
// .highlight .ge {
// color:#ccc;
// font-style:italic;
// }
//
// .highlight .gr {
// color:red;
// }
//
// .highlight .go {
// color:gray;
// }
//
// .highlight .gs {
// color:#ccc;
// font-weight:700;
// }
//
// .highlight .gu {
// color:purple;
// font-weight:700;
// }
//
// .highlight .gt {
// color:#0040D0;
// }
//
// .highlight .kc {
// color:#dca3a3;
// }
//
// .highlight .kd {
// color:#ffff86;
// }
//
// .highlight .kn {
// color:#dfaf8f;
// font-weight:700;
// }
//
// .highlight .kp {
// color:#cdcf99;
// }
//
// .highlight .kr {
// color:#cdcd00;
// }
//
// .highlight .ni {
// color:#c28182;
// }
//
// .highlight .ne {
// color:#c3bf9f;
// font-weight:700;
// }
//
// .highlight .nn {
// color:#8fbede;
// }
//
// .highlight .vi {
// color:#ffffc7;
// }
//
// .highlight .c,.preview-zenburn .highlight .g,.preview-zenburn .highlight .cm,.preview-zenburn .highlight .cp,.preview-zenburn .highlight .c1 {
// color:#7f9f7f;
// }
//
// .highlight .l,.preview-zenburn .highlight .x,.preview-zenburn .highlight .no,.preview-zenburn .highlight .nd,.preview-zenburn .highlight .nl,.preview-zenburn .highlight .nx,.preview-zenburn .highlight .py,.preview-zenburn .highlight .w {
// color:#ccc;
// }
//
// .highlight .n,.preview-zenburn .highlight .nv,.preview-zenburn .highlight .vg {
// color:#dcdccc;
// }
//
// .highlight .o,.preview-zenburn .highlight .ow {
// color:#f0efd0;
// }
//
// .highlight .gh,.preview-zenburn .highlight .gp {
// color:#dcdccc;
// font-weight:700;
// }
//
// .highlight .gi,.preview-zenburn .highlight .kt {
// color:#00cd00;
// }
//
// .highlight .ld,.preview-zenburn .highlight .s,.preview-zenburn .highlight .sb,.preview-zenburn .highlight .sc,.preview-zenburn .highlight .sd,.preview-zenburn .highlight .s2,.preview-zenburn .highlight .se,.preview-zenburn .highlight .sh,.preview-zenburn .highlight .si,.preview-zenburn .highlight .sx,.preview-zenburn .highlight .sr,.preview-zenburn .highlight .s1,.preview-zenburn .highlight .ss {
// color:#cc9393;
// }
//
// .highlight .m,.preview-zenburn .highlight .mf,.preview-zenburn .highlight .mh,.preview-zenburn .highlight .mi,.preview-zenburn .highlight .mo,.preview-zenburn .highlight .il {
// color:#8cd0d3;
// }
//
// .highlight .na,.preview-zenburn .highlight .nt {
// color:#9ac39f;
// }
//
// .highlight .nb,.preview-zenburn .highlight .nc,.preview-zenburn .highlight .nf,.preview-zenburn .highlight .bp,.preview-zenburn .highlight .vc {
// color:#efef8f;
// }
